@import 'tailwindcss';

.no-x-scroll {
  scrollbar-width: none !important;
  overflow: scroll hidden !important;
}

@media screen and (min-width: 48rem) {
  .overlay {
    display: none;
  }

  .parent:hover .overlay {
    display: flex;
    margin-bottom: -1.75rem;
    /* transition: all 15s; */
  }
}
